version: "3"

services:
  server:
    environment:
      NODE_ENV: production
      CORS: https://hw.box.noerls.com
      API_URL: https://hw-api.box.noerls.com
      APP_URL: http://hw.box.noerls.com
      COOKIE_SESSION_SECRET: ${COOKIE_SESSION_SECRET}
    entrypoint: sh -c "sleep 10 && npm run-script db && npm run-script start"

  client:
    entrypoint: npx serve -s build/ -l 3000
    environment:
      NODE_ENV: production
    build:
        args:
          NODE_ENV: production
          REACT_APP_API_URL: https://hw-api.box.noerls.com

  database:
    volumes:
    - /home/noe/hw/db:/var/lib/postgresql/data